@model Filmek.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>@Model.Title</h1>
    <h2>@Model.Categories</h2>

    <img src="@Model.Picture" alt="Should be a picture" />
}
